
@inject IViewLocalizer Localizer

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h1 class="page-section-heading text-center text-uppercase mb-0">@Localizer["OurCourses"]</h1>
        <hr class="shine">        
        <div class="row text-white">
            <div class="col-md-12 col-lg-12 column">
                <div class="card gr-2">
                    <div class="txt">
                        <h2>Войти в IT. Базовый</h2>
                        <p>Курс для всех, даже совсем новичков. Попробуйте абсолютно <b>БЕСПЛАТНО</b></p>
                    </div>
                <a asp-area="" asp-controller="Home" asp-action="Schedule" >@Localizer["Details"]</a>
                <a asp-area="" asp-controller="Cart" asp-action="Subscribe" >@Localizer["Join"]</a>
                </div>
            </div>
        </div>
</div>
</section>

<section class="page-section portfolio" id="numbers">
    <div class="container">
        <h1 class="page-section-heading text-center text-uppercase mb-0">@Localizer["Progress"]</h1>
        <hr class="shine">  
        <div class="row text-white">
            <div class="col-xl-4 col-lg-4">
                <div class="card l-bg-blue-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fab fa-fw fa-facebook-f"></i></div>
                        <div class="mb-4">
                            <p2 class="card-title mb-0">Facebook @Localizer["Community"]</p2>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <p2 class="d-flex align-items-center mb-0">
                                    703
                                </p2>
                            </div>
                            <div class="col-4 text-right">
                                <span>75% <i class="fa fa-arrow-up"></i></span>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-cherry" role="progressbar" data-width="75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                        </div>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/groups/entertoit">@Localizer["Join"]</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="card l-bg-red">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fab fa-fw fa-youtube"></i></div>
                        <div class="mb-4">
                            <p2 class="card-title mb-0">YouTube hours</p2>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <p2 class="d-flex align-items-center mb-0">
                                    454h
                                </p2>
                            </div>
                            <div class="col-4 text-right">
                                <span>50% <i class="fa fa-arrow-up"></i></span>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-orange" role="progressbar" data-width="50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                        </div>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.youtube.com/channel/UC-Vejsv7FVBJiBT_Ctl39jQ">@Localizer["Join"]</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="card l-bg-blue-light">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fab fa-fw fa-telegram"></i></div>
                            <div class="mb-4">
                                <p2 class="card-title mb-0">Telegram @Localizer["Community"]</p2>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <p2 class="d-flex align-items-center mb-0">
                                        290
                                    </p2>
                                </div>
                                <div class="col-4 text-right">
                                    <span>25%<i class="fa fa-arrow-up"></i></span>
                                </div>
                            </div>
                            <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                            </div>
                            <a class="btn btn-outline-light btn-social mx-1" href="https://t.me/+QaxkIy19MEwwZjVh">@Localizer["Join"]</a>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section-->
<section class="page-section bg-primary mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h1 class="page-section-heading text-center text-uppercase">@Localizer["AboutUs"]</h1>
        
        <hr class="shine">

        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">
                @Localizer["Brief1"]
            </p></div>
            <div class="col-lg-4 me-auto"><p class="lead">
                @Localizer["Brief2"]
            </p></div>
        </div>
    </div>
</section>


