
@inject IViewLocalizer Localizer

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h1 class="page-section-heading text-center text-uppercase mb-0">@Localizer["OurCourses"]</h1>
        <hr class="shine">        
        <div class="row text-white">
            <div class="col-md-12 col-lg-12 column">
                <div class="card gr-2">
                    <div class="txt">
                        <h2>Войти в IT. Базовый</h2>
                        <p>Курс для всех, даже совсем новичков. Попробуйте абсолютно <b>БЕСПЛАТНО</b></p>
                    </div>
                <a asp-area="" asp-controller="Home" asp-action="Schedule" >@Localizer["Details"]</a>
                <a asp-area="" asp-controller="Cart" asp-action="Subscribe" >@Localizer["Join"]</a>
                </div>
            </div>
        </div>
</div>
</section>

<!-- About Section-->
<section class="page-section bg-primary mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h1 class="page-section-heading text-center text-uppercase">@Localizer["AboutUs"]</h1>
        
        <hr class="shine">

        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">
                @Localizer["Brief1"]
            </p></div>
            <div class="col-lg-4 me-auto"><p class="lead">
                @Localizer["Brief2"]
            </p></div>
        </div>
    </div>
</section>
