@model LessonsViewModel

@{
    ViewData["Title"] = "Список уроков";
}
<h2 class="text-uppercase mb-12">@ViewData["Title"]</h2>

<div class="row text-white">
@for (int i = 0; i< @Model.Lessons.Count; i++)
{
    <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1">
            <div class="txt">
                <h1>Урок @Model.Lessons[i].Id</h1><br /><h1>@Model.Lessons[i].Name</h1>
                <p>@Model.Lessons[i].Description</p>
            </div>
        <a asp-area="" asp-controller="Home" asp-action="Lesson" asp-route-id="@Model.Lessons[i].Id" >Подробнее</a>
        </div>
    </div>
}
</div>

