@inject IViewLocalizer Localizer

<h1 class="page-section-heading text-center text-uppercase mb-0">@Localizer["LessonsList"]</h1>
<hr class="shine"> 

<div class="row text-white">
@for (int i = 0; i< @Model.Lessons.Count; i++)
{
    <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1">
            <div class="txt">
                <h2>@Localizer["Lesson"] @Model.Lessons[i].Id</h2><br /><h2>@Model.Lessons[i].Name</h2>
                <p>@Model.Lessons[i].Description</p>
            </div>
        <a asp-area="" asp-controller="Home" asp-action="Lesson" asp-route-id="@Model.Lessons[i].Id" >@Localizer["Details"]</a>
        </div>
    </div>
}
</div>

