@model LessonViewModel

@{
    ViewData["Title"] = "Lesson";
}

<div class="row">

        <div class="col-lg-12">
            <div>
                <div>
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        @foreach(Lesson lesson in @Model.Lessons)
                        {
                            <li class="breadcrumb-item" aria-current="page">
                                <a asp-area="" asp-controller="Home" asp-action="Lesson" asp-route-id="@lesson.Id">Урок @lesson.Id</a>
                            </li>
                        }
                      </ol>
                    </nav>
                </div>
                <div>
                    <h5 class="card-title">Урок @Model.Current.Id. @Model.Current.Name</h5>
                </div>

                <p class="card-text">
                    <h6>@Model.Current.Description</h6>
                </p>
                

                

                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-video" aria-selected="true">Video</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-homework-tab" data-toggle="pill" href="#pills-homework" role="tab" aria-controls="pills-homework" aria-selected="false">Homework</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-presentation-tab" data-toggle="pill" href="#pills-presentation" role="tab" aria-controls="pills-presentation" aria-selected="false">Presentation</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-code-tab" data-toggle="pill" href="#pills-code" role="tab" aria-controls="pills-code" aria-selected="false">Code</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-readings-tab" data-toggle="pill" href="#pills-readings" role="tab" aria-controls="pills-readings" aria-selected="false">Readings</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade  show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                          <iframe width="720" height="480" src="@Model.Current.VideoLink" 
                            title="YouTube video player" frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                          </iframe>
                      </div>
                      <div class="tab-pane fade" id="pills-homework" role="tabpanel" aria-labelledby="pills-homework-tab">
                          <a href="@Model.Current.HomeworkLink">@Model.Current.HomeworkLink</a>                       
                       </div>
                      <div class="tab-pane fade" id="pills-presentation" role="tabpanel" aria-labelledby="pills-presentation-tab">
                          <a href="@Model.Current.PresentationLink">@Model.Current.PresentationLink</a>      
                        </div>
                      <div class="tab-pane fade" id="pills-code" role="tabpanel" aria-labelledby="pills-code-tab">
                          <a href="@Model.Current.CodeLink">@Model.Current.CodeLink</a>                       
                       </div>
                      <div class="tab-pane fade" id="pills-readings" role="tabpanel" aria-labelledby="pills-readings-tab">Readings</div>
                    </div>

                </div>
            </div>
        </div>

</div>
