@inject IViewLocalizer Localizer
@model LessonsViewModel

<h1 class="page-section-heading text-center text-uppercase mb-0">@Localizer["Schedule"]</h1>
<hr class="shine"> 

<div class="row">
@foreach (Lesson lesson in @Model.Lessons)
    {
        <div class="col-lg-12">
            <ul>
                <div>
                    <a asp-area="" asp-controller="Home" asp-action="Lesson" asp-route-id="@lesson.Id" class="btn btn-primary">@Localizer["Watch"]</a>&nbsp;&nbsp;
                    @Localizer["Lesson"] @lesson.Id. @lesson.Name
                </div>
            </ul>
        </div>
}
</div>

